{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 image">
            <img src="/static/img/personnage4.png" alt="" class="img-responsive"/>
        </div>
        <div class="col-sm-6">
            <div class="divForm">
                <form role="form" action="/" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <h1>Inscription</h1>
                  </div>
                    <div class="form-group">
                        <img src="/static/img/logo.png" alt="" class="img-responsive logo"/>
                    </div>
                    <div class="form-group">
                      <p>{{form.username.label}}</p>
                      {{form.username}}
                    </div>
                    <div class="form-group">
                      <p>{{form.password1.label}}</p>
                      {{form.password1}}
                    </div>
                    <div class="form-group">
                      <p>{{form.password2.label}}</p>
                      {{form.password2}}
                    </div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </form>
            </div>
        </div>
        <div class="col-sm-3 image">
            <img src="/static/img/personnage2.png" alt="" class="img-responsive"/>
        </div>
    </div>
    <div class="row footer">
        <div class="col-sm-12">
            <img src="/static/img/logo-preff.png" alt="" class="img-responsive"/>
            <img src="/static/img/MJN.png" alt="" class="img-responsive"/>
        </div>
    </div>
</div>
{% endblock %}
