
<!-- <<<<<<< {% include "if_else_password_u_or_a.html"%} a mettre dans user.html =======-->
<div class="col-md-4">
    <h2>Réponses</h2>
     {% if request.user == {{user.anim_password}} %}

     <div>
         <form class="user_chat" id="formulaire_chat_reponse" method="post" action="">
             <div id="zone_chat_reponse"></div>
             {% csrf_token %}
             <input id="message_reponse" autocomplete="off" />
             <br></br>
             <button class="animateur_btn_yes" type="button" name="button">Correct</button>
             <button  class="animateur_btn_no" type="button" name="button">Incorrect</button>
         </form>
     </div>
     {% else request.user == {{user.user_password}} %}

     <div>
         <form class="user_chat" id="formulaire_chat_reponse" method="post" action="">
             <div id="zone_chat_reponse"></div>
             {% csrf_token %}
             <input id="message_reponse" autocomplete="off" />
             <br></br>
             <button id="envoi_reponse">Envoyer</button>
         </form>
     </div>

     {% endif %}
