<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Titre de la modale</h4>
                    </div>
                    <div class="modal-body">
                        <p>Corps de la modale</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button"><i class="icon icon-check icon-lg"></i> Valide</button>
                        <button class="btn btn-inverse" type="button" data-dismiss="modal"><i class="icon icon-times icon-lg"></i> Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </html>        
</body>
