<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Permis de Produire</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex2-collapse">
                <!-- <ul class="nav navbar-nav">
                    <li><a href="/list">Voir tous les posts</a></li>
                    <li><a href="/add_post">Ajouter un post</a></li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="">{{ request.user }}</a></li>
                        <li><a href="/accounts/logout/">Déconnexion</a></li>
                    {% else %}
                        <li><a href="/accounts/login/">Connexion</a></li>
                        <li><a href="/">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
