.logo {
    width: 40%;
    margin: auto;
}
.divForm{
    text-align: center;
    padding: 2em;
}
h1 {
  font-size: 5em;
}

.footer {
    img {
        margin: auto;
        width: 100px;
        display: inline-block;
    }
    img:nth-child(2) {
        float: right;

    }
}
