.border {
    border: 1px solid #a2a2a2;
}
h1 {
    margin: 0 0 20px 0;
}
tbody td:not(.first):hover {
    background: #f1f1f1;
}

.divForm .color-btn {
    button{
        border: none;
        padding: 2em;
        border-radius: $radius;
    }}
.btn1{
    background-color: #7A001E;

}
.btn2{
    background-color: #98aa1f;
}
.btn3{
    background-color: #00437a;

}
.btn4{
    background-color: #fff500;

}
