@import "variable_user";
*{
    padding: 0;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
h2{
    color:#B0C235;

}
#user_background{
    margin-top: -5em;

}
#user_lien_aide{
    float: right;
    text-decoration: none;
    border: 1px solid white;
    border-radius: $radius;
    padding: 0.5em 1em;
    color:white;
    background-color:#B0C235 ;
    position: relative;
    top: 4em;
    right: 1em;

}
.user_img_plateau{
    width: 100%;
    height: 45em;

}
#user_form {
    padding: 3px;

    bottom: 0;
}
.user_chat, .user_reponses{
    border: $border;
    padding: 1em;
    border-radius: $radius;
    input{
        border: $border;
        border-radius: $radius;
        padding: 10px;
        width: 100%;
    }
    button{
        width: 100%;
        background-color:#B0C235 ;
        border-radius: $radius;
        border: none;
        padding: 10px;
        color: white;
    }
}
#user_messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
         padding: 5px 10px;
         :nth-child(odd){
            background: #eee;
         }
    }
}

.user_chat_affichage{
    border:$border;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: $radius;

}
.user_cartes_standard{
    border: $border;
    border-radius: $radius;
    padding: 20px 30px;
    text-align: center;
    background-image: radial-gradient(white,#B0C235);
    h3{
        color: #33992D;
        font-size: large;
        margin-bottom: 20px;
    }
}
.user_cartes_critique{
    border: $border;
    border-radius: $radius;
    padding: 20px 30px;
    text-align: center;
    background-image: radial-gradient(white,#7A001E);
    h3{
        color: #29040d;
        font-size: large;
        margin-bottom: 20px;
    }
}

.col-md-3{
    padding :0;
}

.carousel-indicators {
    li{
 border: 2px solid #a94442;
}
}

// animateur css

.animateur_reponses{
    border: $border;
    padding: 1em;
    border-radius: $radius;

    .animateur_affichage_reponse{
        border: $border;
        padding: 2em;
        border-radius: $radius;
        margin-bottom: 1em;
    }
    .animateur_btn_yes{
        background-color:#B0C235 ;
        border-radius: $radius;
        border-radius: $radius;
        border: none;
        padding: 10px;
        color: white;

    }
    .animateur_btn_no{
        background-color:#d13c21 ;
        border-radius: $radius;
        border: none;
        padding: 10px;
        color: white;
    }
}
